.main-container {
  width: 1200px;
  height: auto;
  margin: 91px auto;
  display: flex;
  flex-direction: column;
}

/* slideshow */

.slide-and-booking-area {
  width: 1200px;
  height: 440px;
  display: flex;
  border-bottom: 1px solid #E8E8E8;
}

.slideshow-container {
  width: 540px;
  height: 406px;
  margin: 0 15px;
  position: relative;
}

.slide-images {
  width: 540px;
  height: 406px;
  object-fit: cover;
  border-radius: 5px;
}


.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 36px;
  width: 36px;
  opacity: 0.75;
}

.left-arrow {
  left: 10px;
  background-image: url("/static/images/btn_leftArrow.png");
}

.right-arrow {
  right: 10px;
  background-image: url("/static/images/btn_rightArrow.png");
}

/* dots */

.dots {
  position: absolute; 
  width: 100%;
  bottom: 13px;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 75%;
  margin: 0 6px;
}

.dot:hover,
.dot.active {
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  width: 12px;
  height: 12px;
}

/* booking-form */
.booking-area {
  color: #666666;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 600px;
  height: 406px;
}

.attraction-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.category-mrt {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

input[type="date"] {
  cursor: text;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.booking {
  background-color: #E8E8E8;
  width: 600px;
  height: 300px;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
}

.booking > div {
  margin-bottom: 15px;
}

/* radio btn */

.radio-container {
  margin-right: 10px;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}

input[type=radio] {
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.new-radio-btn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 1;
}

.radio-container:hover input~.new-radio-btn {
  background-color: #CCC;
}

.radio-container input:checked~.new-radio-btn {
  border: 2px solid #FFFFFF;
  background-color: #448899;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}


/* booking btn */
#start-booking-btn {
  color: #FFFFFF;
  background-color: #448899;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
  width: 154px;
  height: 36px;
  line-height: 36px;
  margin-top: 10px;
  cursor: pointer;
}

#start-booking-btn:hover {
  background: linear-gradient(270deg, #66AABB 0%, #337788 100%);
}

/* attractions introduction */
.attraction-intro-container {
  width: 100%;
  height: auto;
  padding: 10px;
  color: #666666;
  font-size: 16px;
  margin-top: 20px;
}

.attraction-intro,
.address-info,
.transportation-info {
  margin-bottom: 15px;
  line-height: 30px;
  width: 100%;
}


/* RWD */
@media screen and (max-width: 1200px) {

  .navigation-bar {
    width: 100%;
    padding: 10px 0 10px 10px;
  }

  .main-container {
    width: 95%;
    margin-top: 80px;
  }

  .slide-and-booking-area {
    width: 100%;
  }

  .slideshow-container {
    width: 45%;
    margin: 0 10px;
  }

  .slide-images {
    width: 100%;
  }

  .dots {
    bottom: 25px;
  }

  .booking-area {
    margin: 0 10px;
    width: 55%;
  }

  .booking {
    width: 100%;
  }

  .attraction-intro-container {
    width: 100%;
  }

  .attraction-intro,
  .address-info,
  .transportation-info {
    margin-bottom: 15px;
    line-height: 30px;
    width: 100%;
  }

}


@media screen and (max-width: 800px) {

  .main-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .slide-and-booking-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideshow-container {
    width: 100%;
    height: 360px;
    margin: 0 auto;
  }

  .slide-images {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .booking-area {
    margin: 0 10px 30px 10px;
    padding-top: 15px;
    width: 100%;
  }
}


@media screen and (max-width:600px) {

  .main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
  }

  .slide-and-booking-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideshow-container {
    width: 100%;
    height: 360px;
    margin: 0 auto;
  }

  .slide-images {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 0;
  }

  .booking-area {
    margin: 0 10px 30px 10px;
    padding-top: 15px;
    width: 95%;
  }

  .booking {
    width: 100%;
  }

  .attraction-intro-container {
    width: 100%;
    padding: 0 10px 0 20px;
  }
  
  .google-map {
    padding-right: 10px;
  }
}