main {
  margin: 100px auto 0 auto;
  color: #666666;
  width: 1200px;
  font-weight: 500;
  font-size: 16px;
}

.greeting {
  font-weight: 700;
  font-size: 19px;
  padding-left: 100px;
}

/* ----- no items ------ */

.no-itinerary {
  display: none;
  padding: 35px 110px 40px 110px;
}

/* ------ if item exists ------ */

.itinerary-item {
  display: flex;
  justify-content: space-between;
  padding: 35px 110px 40px 110px;
  border-bottom: 1px solid #E8E8E8;
}

.booking-attraction-image > img {
  width: 266px;
  height: 200px;
  object-fit: cover;
}

.itinerary-details {
  width: 630px;
}

.itinerary-details > div {
  margin-bottom: 15px;
}

.booking-attraction-title {
  color: #448899;
  font-weight: 700;
  padding-bottom: 10px;
}

.delete-icon,
.order-confirm-btn {
  cursor: pointer;
}

/* ----- contact info ----- */

.booking-contact-info-container{
  padding: 30px 110px;
  border-bottom: 1px solid #E8E8E8;
}

.booking-contact-info-container > div {
  margin: 15px 0;
}

.contact-info-title {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 5px;
}

/* ----- card info ----- */

.card-info-container {
  padding: 30px 110px;
  border-bottom: 1px solid #E8E8E8;
}

.card-info-title {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 5px;
}

.card-info {
  margin: 15px 0;
  display: flex;
  line-height: 38px;
}

/* ----- checkout -----*/

.checkout{
  padding: 35px 110px;
  text-align: right;
}

.order-confirm-btn{
  font-size: 19px;
  width: 173px;
  height: 36px;
  color: #FFFFFF;
  background: #448899;
  border: none;
  border-radius: 5px;
  padding: 5x 10px;
  margin: 20px 0;
}

.order-confirm-btn:hover{
  background: linear-gradient(270deg, #66AABB 0%, #337788 100%);
}

/* ----- input field -----*/

input,
.tpfield {
  border: 1px solid #E8E8E8;
  width: 200px;
  height: 38px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

input[type]{
  font-size: 16px;
}

.input-message {
  font-weight: 400;
  color: red;
  margin-left: 10px;
  font-size: 14px;
  line-height: 38px;
}
/* 
.tappay-field-focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
} */

/* ----- RWD ----- */

@media screen and (max-width: 1200px) { 
  main {
    width: 100%;
  }

  .greeting {
    padding-left: 30px;
  }

  .itinerary-item {
    padding: 25px 30px;
    justify-content: space-between;
  }

  .itinerary-details {
    margin-left: 20px;
    width: 60vw;
  }

  .booking-contact-info-container,
  .card-info-container,
  .checkout{
    padding: 25px 30px;
  }
 
  .no-itinerary {
    padding: 35px 30px 40px 30px;
  }
}

@media screen and (max-width: 700px) {
  .greeting {
    padding-left: 10px;
  }

  .no-itinerary {
    padding: 35px 10px;
  }

  .itinerary-item {
    padding: 25px 10px;
    flex-direction: column;
  }

  .booking-attraction-image > img {
    width: 100%;
    height: 300px;
  }

  .booking-attraction-title{
    padding: 10px 0;
  }

  .itinerary-details {
    margin: 15px 0 0 0;
    width: 90%;
  }

  .delete-icon-container {
    text-align: right;
  }

  .booking-contact-info-container,
  .card-info-container{
    padding: 25px 10px 30px 10px;
  }

  .checkout {
    padding: 40px 10px 50px 10px;
  }

  .order-confirm-btn {
    margin: 20px 0 10px 0;
  }
}


@media screen and (max-width: 500px) {
  .booking-attraction-image>img {
      width: 100%;
      height: 250px;
  }
}