@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

/* header */

header {
  width: 100%;
  height: 54px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E8E8E8;
  z-index: 2;
}

/* navigation-bar */

.navigation-bar {
  width: 1200px;
  display: flex;
  margin: auto;
  padding: 10px;
}

.title {
  color: #448899;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.nav {
  color: #666666;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;

  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav > a,
.nav > div {
  margin: 10px;
  color: #666666;
  cursor: pointer;
}

.logout-btn {
  display: none;
}

/* user login */

.modal {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 90px;
  z-index: 3;
}

.modal-content {
  position: relative;
  background-color: #FFFFFF;
  width: 340px;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 6px 6px;
}

.modal-content::before {
  content: "";
  width: 340px;
  height: 10px;
  background-image: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: -10px;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 17px;
  width: 16px;
  height: 16px;
}

.login-close-btn:hover,
.register-close-btn:hover {
  width: 18px;
  height: 18px;
}

.modal-content-title{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 310px;
  height: 27px;
  color: #666666;
  margin: 15px auto 10px auto;
  line-height: 27px;
}

.modal-content-detail {
  text-align: center;
  margin: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: auto;
}

.modal-content-detail > div {
  margin-bottom: 10px;
}

#register-modal-status,
#login-modal-status {
  margin: 0px;
}

.login-input,
.register-input,
.login-btn,
.register-btn {
  width: 310px;
  height: 47px;
  border-radius: 5px;
  margin: 5px 15px;
  outline: none;
}

.login-input,
.register-input {
  border: 1px solid #CCCCCC;
  padding: 15px;
}

.login-input[type="email"],
.register-input[type="email"],
.register-input[type="text"] {
  font-size: 16px;
  font-weight: 500;
}

.login-input::placeholder,
.register-input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  padding: 15px 0;
}

.modal-content-btn,
.login-btn,
.register-btn {
  cursor: pointer;
  border: none;
  background-color: #448899;
  color: #FFFFFF;
  font-size: 19px;
}

.modal-content-btn {
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  margin: 30px auto -30px auto;
}

.modal-content-btn:hover,
.login-btn:hover,
.register-btn:hover {
  background: linear-gradient(270deg, #66AABB 0%, #337788 100%);
}

.login-modal-footer,
.register-modal-footer {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin: 5px auto;
}

.login-modal-footer:hover,
.register-modal-footer:hover {
  font-weight: 700;
}

.modal {
  display: none;
}

.status-description{
  cursor: default;
  color: rgba(255, 0, 0, 0.8);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 5px auto;
}

.display-none {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* footer */
footer {
  flex-grow: 1;
  background: #757575;
  color: #FFFFFF;
  line-height: 104px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
