@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

/* header */

header {
  width: 100%;
  height: 54px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  z-index: 2;
}

/* navigation-bar */

.navigation-bar {
  width: 1200px;
  display: flex;
  margin: auto;
  padding: 10px 0;
}

.title {
  color: #448899;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.nav {
  color: #666666;
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;

  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav > a {
  margin: 10px;
  text-decoration: none;
  color: #666666;
}

/* banner & search*/

main {
  margin: 54px 0 0 0;
}

.banner {
  height: 480px;
  position: relative;
  padding: 10px 0;
}

.banner > div {
  width: 1180px;
  height: 169px;
  margin: 65px auto 236px auto;
}

.banner-description-1 {
  color: #F8F8F8;
  font-weight: 700;
  font-size: 28px;
  margin: 10px 10px 0 10px;
}

.banner-description-2 {
  color: #F8F8F8;
  font-weight: 700;
  font-size: 16px;
  margin: 15px 10px 25px 10px;
}

/* attraction-search-bar */

#search-bar {
  display: flex;
  width: 460px;
  margin: 10px 10px 5px 10px;
}

#search-bar > input {
  width: 400px;
  height: 46px;
  border: 0px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0px 0px 20px #AABBCC;
}

#search-btn {
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 60px;
  background-color: #448899;
  background-image: url(/static/images/icon_search.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

input {
  outline: none;
  padding: 15px;
}

input[type="text"] {
  font-size: 16px;
  font-weight: 700;
}

::placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 700;
}

/* category-searching */
.category-container.search-mode{
  display: none;
}

.category-container {
  background-color: #ffffff;
  width: 400px;
  height: 130px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0 #AABBCC;
  margin: 0px 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.category {
  width: 120px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px; 
}

.category:hover {
  border-radius: 5px;
  background-color: #E8E8E8;
}

.category.active {
  border-radius: 5px;
  background-color: #E8E8E8; 
}



.banner > img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 0;
  z-index: -1;
}


/* main */
/* attraction-area */

.attraction-area {
  width: 1180px;
  height: auto;
  margin: -120px auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.attraction {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  width: 270px;
  height: 242px;
  margin: 12px;
  position: relative;
}

.attraction-img {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
}

.attraction-name {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 16px;

  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 45px;
}

.attraction-info {
  color: #757575;
  font-size: 16px;
  font-weight: 500;

  display: flex;
  justify-content:space-between;
  padding: 10px;

  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
}


/* footer */
footer {
  background: #757575;
  color: #FFFFFF;
  height: 104px;
  line-height: 104px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}


/* RWD */
@media screen and (max-width: 1200px){

  .navigation-bar {
    width: 100%;
    padding: 10px 0 10px 10px;
    }

  .banner > div {
    width: 95%;
    padding: 0 10px;
  }

  #search-bar > input {
    width: 35vw;
  }
  
  .attraction-area {
    width: 90%;
    justify-content: center;
  }

  .attraction {
    width: 43%;
    height: 280px;
  }

  .attraction-img {
    width: 100%;
    height: 233px;
    object-fit: cover;
  }

  .attraction-name {
    bottom: 45px;
  }
} 


@media screen and (min-width:350px) and (max-width:600px) {

  .navigation-bar {
    width: 100%;
    padding: 10px 0 10px 10px;
  }

  .banner > div {
    width: 100%;
  }

  #search-bar {
    display: flex;
    width: 285px;
  }

  #search-bar > input{
    width: 225px;
  }

  .category-container {
    width: 322px;
  }

  .category {
    width: 96px;
  }
  
  .attraction-area {
    width: 90%;
  }

  .attraction {
    width: 90%;
    height: 280px;
  }

  .attraction-img {
    width: 100%;
    height: 233px;
    object-fit: cover;
  }

  .attraction-name {
    bottom: 45px;
  }
}