<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='twicon/twicon.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">
  {% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  {% endblock %}
  {% block title %}
  <title>台北一日遊</title>
  {% endblock %}
</head>

<body>
  <header>
    <div class="navigation-bar">
      <a href="/" class="title">
        <i class="twicon-tapioca"></i>台北一日遊
      </a>
      <div class="nav">
        <a href="/booking">
          <img src="../static/images/shopping-cart.png" alt="" class="booking-cart-btn">
        </a>
        <a href="/orderhistory">
          <img src="../static/images/order-history.png" alt="" class="order-history-btn display-none">
        </a>
        <div class="nav-login-register-btn">登入/註冊</div>
        <div class="logout-btn">登出</div>

      </div>
    </div>

    <!-- login modal -->
    <div class="modal" id="login-modal">
      <div class="modal-content">
        <img src="/static/images/icon_close.png" class="modal-close-btn">
        <div class="modal-content-detail">
          <div class="modal-content-title">登入會員帳號</div>
          <input type="email" placeholder="輸入電子信箱" class="login-input" id="input-login-email">
          <input type="password" placeholder="輸入密碼" class="login-input" id="input-login-password">
          <button class="login-btn">登入帳戶</button>
          <div id="login-modal-status"></div>
          <div class="login-modal-footer">還沒有帳戶？點此註冊</div>
        </div>
      </div>
    </div>

    <!-- register modal -->
    <div class="modal" id="register-modal">
      <div class="modal-content">
        <img src="/static/images/icon_close.png" class="modal-close-btn">
        <div class="modal-content-detail">
          <div class="modal-content-title">註冊會員帳號</div>
          <input type="text" placeholder="輸入姓名" class="register-input" name="name" id="input-register-name">
          <input type="email" placeholder="輸入電子信箱" class="register-input" name="email" id="input-register-email">
          <input type="password" placeholder="輸入密碼" class="register-input" name="password" id="input-register-password">
          <button class="register-btn">註冊帳戶</button>
          <div id="register-modal-status"></div>
          <div class="register-modal-footer">已經有帳戶了？點此登入</div>
        </div>
      </div>
    </div>

    <!-- message modal -->
    <div class="modal" id="popup-notification">
      <div class="modal-content">
        <img src="/static/images/icon_close.png" class="modal-close-btn">
        <div class="modal-content-detail">
          <div class="modal-message"></div>
          <div class="modal-content-btn"></div>
        </div>
      </div>
    </div>

  </header>

  {% block content %}
  <main>
    <div class="banner">
      <div>
        <div class="banner-description-1">輕鬆享受台北一日悠閒</div>
        <div class="banner-description-2">探索每個角落，體驗城市的深度旅遊行程</div>
        <form action="/" autocomplete="off">
          <div id="search-bar">
            <input type="text" placeholder="輸入景點名稱查詢" id="keyword-input">
            <button id="search-btn"></button>
          </div>
        </form>
        <div class="category-container search-mode">
          <!-- 
          <div class="category">公共藝術</div>
          <div class="category">宗教信仰</div>
          <div class="category">歷史建築</div>
          <div class="category">藝文館所</div>
          <div class="category">養生溫泉</div>
          <div class="category">養生溫泉</div>
          <div class="category">養生溫泉</div>
          <div class="category">其　　它</div> 
          -->
        </div>
      </div>
      <img src="../static/images/welcome.png" alt="welcome-img">
    </div>

    <div class="attraction-area">
      <!-- <div class="attraction-div">
        <div class="attraction">
          <img src="../static/images/Picture.png" alt="" class="attraction-img">
          <div class="attraction-name">平安鐘</div>
          <div class="attraction-info">
            <div class="transportation">忠孝復興</div>
            <div>公共藝術</div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="loading-area display-none">
      <div class="loading-percentage">0 %</div>
      <img src="../static/images/spinner.gif">
    </div>
  </main>
  {% endblock %}

  <footer>COPYRIGHT © 2022 台北一日遊</footer>
  <script src="{{ url_for('static', filename='javascript/modal.js')}}"></script>

  {% block script %}
  <script src="{{ url_for('static', filename='javascript/index.js')}}"></script>
  {% endblock %}

</body>

</html>